VITE_SUPABASE_URL=https://surqwasdhgfiuksdah.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhdkKjhdfgL5cCI6IkpXVCK9.eyJpc3MiOiJzd3cXdueHJvbImFub24iLCJpjkdfhajuhJKhdajkghLOOHdjkgf.sLjp_dSKSLCMFBlhxb7YBEoyNaXlqCrqmtvETlq12-A